<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
<filter> 
	  <filter-name>AuthorisationFilter</filter-name> 
	  <filter-class>finalproject.filter.AuthorisationFilter</filter-class> 
</filter>

 <filter-mapping> 
  <filter-name>AuthorisationFilter</filter-name> 
  <url-pattern>/courses/*</url-pattern>
</filter-mapping>

 <filter-mapping> 
  <filter-name>AuthorisationFilter</filter-name> 
  <url-pattern>/mycourses</url-pattern>
</filter-mapping>


 <filter-mapping> 
  <filter-name>AuthorisationFilter</filter-name> 
  <url-pattern>/logout</url-pattern>
</filter-mapping>

 <filter-mapping> 
  <filter-name>AuthorisationFilter</filter-name> 
  <url-pattern>/detail/*</url-pattern>
</filter-mapping>

 <filter-mapping> 
  <filter-name>AuthorisationFilter</filter-name> 
  <url-pattern>/update/*</url-pattern>
</filter-mapping>

 <filter-mapping> 
  <filter-name>AuthorisationFilter</filter-name> 
  <url-pattern>/createcourse</url-pattern>
</filter-mapping>

 <filter-mapping> 
  <filter-name>AuthorisationFilter</filter-name> 
  <url-pattern>/attend/*</url-pattern>
</filter-mapping>	

 <filter-mapping> 
  <filter-name>AuthorisationFilter</filter-name> 
  <url-pattern>/subscribe/*</url-pattern>
</filter-mapping>
   <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/css/*</url-pattern>
  </servlet-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/error/404</location>
	</error-page>
</web-app>
